docs/mir-hospe-dsi-ws-servicio-de-hospedajes-comunicaciones-v3.1.3/altaReservaVehiculo.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://www.neg.hospedajes.mir.es/altaReservaVehiculo" xmlns:hospe="http://www.neg.hospedajes.mir.es/tiposGenerales" xmlns="http://www.neg.hospedajes.mir.es/altaReservaVehiculo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="1.0.0">	<xsd:import namespace="http://www.neg.hospedajes.mir.es/tiposGenerales" schemaLocation="tiposGenerales.xsd"/>	<xsd:element name="peticion" type="peticionType"/>	<xsd:complexType name="peticionType">		<xsd:sequence>			<xsd:element name="solicitud" type="solicitudType"/>		</xsd:sequence>	</xsd:complexType>	<xsd:complexType name="solicitudType">		<xsd:sequence>			<xsd:element name="comunicacion" type="comunicacionType" maxOccurs="unbounded"/>		</xsd:sequence>	</xsd:complexType>	<xsd:complexType name="comunicacionType">		<xsd:sequence>			<xsd:element name="contrato" type="hospe:contratoAlquilerType"/>			<xsd:element name="vehiculo" type="hospe:vehiculoReservaType"/>			<xsd:element name="persona" type="hospe:conductorReservaType" minOccurs="1" maxOccurs="3"/>		</xsd:sequence>	</xsd:complexType></xsd:schema>