docs/mir-hospe-dsi-ws-servicio-de-hospedajes-comunicaciones-v3.1.3/altaReservaHospedaje.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://www.neg.hospedajes.mir.es/altaReservaHospedaje" xmlns:hospe="http://www.neg.hospedajes.mir.es/tiposGenerales" xmlns="http://www.neg.hospedajes.mir.es/altaReservaHospedaje" xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="1.0.0">	<xsd:import namespace="http://www.neg.hospedajes.mir.es/tiposGenerales" schemaLocation="tiposGenerales.xsd"/>	<xsd:element name="peticion" type="peticionType"/>	<xsd:complexType name="peticionType">		<xsd:sequence>			<xsd:element name="solicitud" type="solicitudType"/>		</xsd:sequence>	</xsd:complexType>	<xsd:complexType name="solicitudType">		<xsd:sequence>			<xsd:element name="comunicacion" type="comunicacionType" maxOccurs="unbounded"/>		</xsd:sequence>	</xsd:complexType>	<xsd:complexType name="comunicacionType">		<xsd:sequence>			<xsd:element name="establecimiento" type="hospe:establecimientoType"/>			<xsd:element name="contrato" type="hospe:contratoHospedajeType"/>			<xsd:element name="persona" type="hospe:personaReservaType" maxOccurs="unbounded"/>		</xsd:sequence>	</xsd:complexType>	<xsd:complexType name="resultadoType">		<xsd:sequence>			<xsd:element name="codigoEstablecimiento" type="hospe:codigoEstablecimientoType"/>			<xsd:element name="comunicacion" type="resultadoComunicacionType" maxOccurs="unbounded"/>		</xsd:sequence>	</xsd:complexType>	<xsd:complexType name="resultadoComunicacionType">		<xsd:sequence>			<xsd:element name="contrato" type="hospe:contratoHospedajeType"/>			<xsd:element name="codigoComunicación" type="xsd:string"/>		</xsd:sequence>	</xsd:complexType></xsd:schema>