docs/mir-hospe-dsi-ws-servicio-de-hospedajes-comunicaciones-v3.1.3/anularComunicacion.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://www.neg.hospedajes.mir.es/anularComunicacion" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.neg.hospedajes.mir.es/anularComunicacion" version="1.0.0">	<xsd:element name="comunicaciones" type="comunicacionType"/>	<xsd:complexType name="comunicacionType">		<xsd:sequence>			<xsd:element name="codigoComunicacion" type="codComunicacionType" minOccurs="1" maxOccurs="unbounded"/>		</xsd:sequence>	</xsd:complexType>	<xsd:simpleType name="codComunicacionType">		<xsd:restriction base="xsd:string">			<xsd:maxLength value="36"/>			<xsd:whiteSpace value="collapse"/>		</xsd:restriction>	</xsd:simpleType></xsd:schema>