docs/mir-hospe-dsi-ws-servicio-de-hospedajes-comunicaciones-v3.1.3/consultarComunicacion.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://www.neg.hospedajes.mir.es/consultarComunicacion" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.neg.hospedajes.mir.es/consultarComunicacion" version="1.0.0">	<xsd:element name="lotes" type="loteType"/>	<xsd:complexType name="loteType">		<xsd:sequence>			<xsd:element name="lote" type="codLoteType" minOccurs="1" maxOccurs="unbounded"/>		</xsd:sequence>	</xsd:complexType>	<xsd:simpleType name="codLoteType">		<xsd:restriction base="xsd:string">			<xsd:maxLength value="36"/>			<xsd:whiteSpace value="collapse"/>		</xsd:restriction>	</xsd:simpleType></xsd:schema>